body {
    background-color: aliceblue;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    color: rgb(204, 5, 38);
  }

  p {
    margin: 30px;
    
  }

  #resultLabel {
    margin: 100px;
    color: red;
  }
  
  table {
    font-family: arial, sans-serif;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    border-style: none;
  }
  image {
    max-width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
